<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>este el es primero</title>
</head>
<body>
    <h1>Vista dinamica</h1>
    <p>los datos del alumno</p>
    <ul>
        <li>Nombre: {{name}}</li>
        <li>Edad: {{age}}</li>
        <li>correo:{{email}} </li>
    </ul>
</body>
</html>
{{!-- age name email --}}