<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Querys y params</title>
</head>
<body>
    {{!-- {} x3 te voy  a mandar tag<> y dales sus estilos por defecto  --}}
    {{!-- {} x2 que me trasforme ese dato en texto array obj numbero text o tag --}}
    {{{ body  }}}
</body>
</html>